/correciones/*
/scgi/*
/spia_corregido/*
/spia_final/*
/escuela/*
/escuela2/*
/escuela3/*
/escuela4/*
/escuelal_correciones/*
/escuelal_correcion/assistant.json
/escuelal_correcion/list.txt
/escuelal_correcion/pdf/assistant__AMAYA_GAMARRA_ALEJANDRO__219.aux
/escuelal_correcion/pdf/assistant__AMAYA_GAMARRA_ALEJANDRO__219.log
/escuelal_correcion/pdf/assistant__AMAYA_GAMARRA_ALEJANDRO__219.pdf
/escuelal_correcion/pdf/assistant__ARROYO_GAMARRA_ALEJANDRO_DIEGO__247.aux
/escuelal_correcion/pdf/assistant__ARROYO_GAMARRA_ALEJANDRO_DIEGO__247.log
/escuelal_correcion/pdf/assistant__ARROYO_GAMARRA_ALEJANDRO_DIEGO__247.pdf
/escuelal_correcion/pdf/assistant__BEDOYA_FLOREZ_KIARA_SASHA__219.aux
/escuelal_correcion/pdf/assistant__BEDOYA_FLOREZ_KIARA_SASHA__219.log
/escuelal_correcion/pdf/assistant__BEDOYA_FLOREZ_KIARA_SASHA__219.pdf
/escuelal_correcion/pdf/assistant__CABALLERO_CCAYUSI_KATTY_KAROL__248.aux
/escuelal_correcion/pdf/assistant__CABALLERO_CCAYUSI_KATTY_KAROL__248.log
/escuelal_correcion/pdf/assistant__CABALLERO_CCAYUSI_KATTY_KAROL__248.pdf
/escuelal_correcion/pdf/assistant__CACERES_CACERES_ANJALI_KYLIOE__249.aux
/escuelal_correcion/pdf/assistant__CACERES_CACERES_ANJALI_KYLIOE__249.log
/escuelal_correcion/pdf/assistant__CACERES_CACERES_ANJALI_KYLIOE__249.pdf
/escuelal_correcion/pdf/assistant__CALSINA_RAMOS_BRISSA_JANELHI__220.aux
/escuelal_correcion/pdf/assistant__CALSINA_RAMOS_BRISSA_JANELHI__220.log
/escuelal_correcion/pdf/assistant__CALSINA_RAMOS_BRISSA_JANELHI__220.pdf
/escuelal_correcion/pdf/assistant__CAMACHO_RAMOS_NAYELY_ANHELYZ_NAOMY__250.aux
/escuelal_correcion/pdf/assistant__CAMACHO_RAMOS_NAYELY_ANHELYZ_NAOMY__250.log
/escuelal_correcion/pdf/assistant__CAMACHO_RAMOS_NAYELY_ANHELYZ_NAOMY__250.pdf
/escuelal_correcion/pdf/assistant__CAMACHO_TORRES_PAOLA_CAMILA__221.aux
/escuelal_correcion/pdf/assistant__CAMACHO_TORRES_PAOLA_CAMILA__221.log
/escuelal_correcion/pdf/assistant__CAMACHO_TORRES_PAOLA_CAMILA__221.pdf
/escuelal_correcion/pdf/assistant__CAMACHO_ZUNIGA_FABIANA_ALESSANSRA__222.aux
/escuelal_correcion/pdf/assistant__CAMACHO_ZUNIGA_FABIANA_ALESSANSRA__222.log
/escuelal_correcion/pdf/assistant__CAMACHO_ZUNIGA_FABIANA_ALESSANSRA__222.pdf
/escuelal_correcion/pdf/assistant__CASTILLO_AROCUTIPA_NAOMI_DAYANA__223.aux
/escuelal_correcion/pdf/assistant__CASTILLO_AROCUTIPA_NAOMI_DAYANA__223.log
/escuelal_correcion/pdf/assistant__CASTILLO_AROCUTIPA_NAOMI_DAYANA__223.pdf
/escuelal_correcion/pdf/assistant__CAYRO_CUADROS_ROBERTO_JUAN__251.aux
/escuelal_correcion/pdf/assistant__CAYRO_CUADROS_ROBERTO_JUAN__251.log
/escuelal_correcion/pdf/assistant__CAYRO_CUADROS_ROBERTO_JUAN__251.pdf
/escuelal_correcion/pdf/assistant__CERPO_RODRIGUEZ_AMMY_LUCIA__252.aux
/escuelal_correcion/pdf/assistant__CERPO_RODRIGUEZ_AMMY_LUCIA__252.log
/escuelal_correcion/pdf/assistant__CERPO_RODRIGUEZ_AMMY_LUCIA__252.pdf
/escuelal_correcion/pdf/assistant__CHOQUE_TALAVERA_GUADALUPE_SILVANA__255.aux
/escuelal_correcion/pdf/assistant__CHOQUE_TALAVERA_GUADALUPE_SILVANA__255.log
/escuelal_correcion/pdf/assistant__CHOQUE_TALAVERA_GUADALUPE_SILVANA__255.pdf
/escuelal_correcion/pdf/assistant__CHOQUE_TALAVERA_RODRIGO_ARNALDO__224.aux
/escuelal_correcion/pdf/assistant__CHOQUE_TALAVERA_RODRIGO_ARNALDO__224.log
/escuelal_correcion/pdf/assistant__CHOQUE_TALAVERA_RODRIGO_ARNALDO__224.pdf
/escuelal_correcion/pdf/assistant__CHUA_AGUILAR_JEAN_CARLO__225.aux
/escuelal_correcion/pdf/assistant__CHUA_AGUILAR_JEAN_CARLO__225.log
/escuelal_correcion/pdf/assistant__CHUA_AGUILAR_JEAN_CARLO__225.pdf
/escuelal_correcion/pdf/assistant__CONCHA_LAYME_ANGEL_TOMAS__226.aux
/escuelal_correcion/pdf/assistant__CONCHA_LAYME_ANGEL_TOMAS__226.log
/escuelal_correcion/pdf/assistant__CONCHA_LAYME_ANGEL_TOMAS__226.pdf
/escuelal_correcion/pdf/assistant__CONCHA_LAYME_ESTEFANI_MERCEDES__227.aux
/escuelal_correcion/pdf/assistant__CONCHA_LAYME_ESTEFANI_MERCEDES__227.log
/escuelal_correcion/pdf/assistant__CONCHA_LAYME_ESTEFANI_MERCEDES__227.pdf
/escuelal_correcion/pdf/assistant__CONDORI_CASQUINO_EBERT_LUIS__253.aux
/escuelal_correcion/pdf/assistant__CONDORI_CASQUINO_EBERT_LUIS__253.log
/escuelal_correcion/pdf/assistant__CONDORI_CASQUINO_EBERT_LUIS__253.pdf
/escuelal_correcion/pdf/assistant__CONDORI_QUISPE_JUAN_JOSE__228.aux
/escuelal_correcion/pdf/assistant__CONDORI_QUISPE_JUAN_JOSE__228.log
/escuelal_correcion/pdf/assistant__CONDORI_QUISPE_JUAN_JOSE__228.pdf
/escuelal_correcion/pdf/assistant__DELGADO_GAMARRA_GABRIEL__254.aux
/escuelal_correcion/pdf/assistant__DELGADO_GAMARRA_GABRIEL__254.log
/escuelal_correcion/pdf/assistant__DELGADO_GAMARRA_GABRIEL__254.pdf
/escuelal_correcion/pdf/assistant__ESPINOZA_CACERES_ALESSANDRO_JESUS__229.aux
/escuelal_correcion/pdf/assistant__ESPINOZA_CACERES_ALESSANDRO_JESUS__229.log
/escuelal_correcion/pdf/assistant__ESPINOZA_CACERES_ALESSANDRO_JESUS__229.pdf
/escuelal_correcion/pdf/assistant__ESPINOZA_CACERES_GERSON_NIALS__230.aux
/escuelal_correcion/pdf/assistant__ESPINOZA_CACERES_GERSON_NIALS__230.log
/escuelal_correcion/pdf/assistant__ESPINOZA_CACERES_GERSON_NIALS__230.pdf
/escuelal_correcion/pdf/assistant__ESPINOZA_CACERES_GILBERT_JESUS__231.aux
/escuelal_correcion/pdf/assistant__ESPINOZA_CACERES_GILBERT_JESUS__231.log
/escuelal_correcion/pdf/assistant__ESPINOZA_CACERES_GILBERT_JESUS__231.pdf
/escuelal_correcion/pdf/assistant__ESPINOZA_CACERES_STEVEN_JESUS__232.aux
/escuelal_correcion/pdf/assistant__ESPINOZA_CACERES_STEVEN_JESUS__232.log
/escuelal_correcion/pdf/assistant__ESPINOZA_CACERES_STEVEN_JESUS__232.pdf
/escuelal_correcion/pdf/assistant__ESTREMODOYRO_SALAS_JODE_JANDEL__233.aux
/escuelal_correcion/pdf/assistant__ESTREMODOYRO_SALAS_JODE_JANDEL__233.log
/escuelal_correcion/pdf/assistant__ESTREMODOYRO_SALAS_JODE_JANDEL__233.pdf
/escuelal_correcion/pdf/assistant__GAMERO_DEL_CARPIO_JOAQUIN_IGNACIO__234.aux
/escuelal_correcion/pdf/assistant__GAMERO_DEL_CARPIO_JOAQUIN_IGNACIO__234.log
/escuelal_correcion/pdf/assistant__GAMERO_DEL_CARPIO_JOAQUIN_IGNACIO__234.pdf
/escuelal_correcion/pdf/assistant__GUTIERREZ_QUISPE_JOSE_MARIA__256.aux
/escuelal_correcion/pdf/assistant__GUTIERREZ_QUISPE_JOSE_MARIA__256.log
/escuelal_correcion/pdf/assistant__GUTIERREZ_QUISPE_JOSE_MARIA__256.pdf
/escuelal_correcion/pdf/assistant__HIDALGO_ITO_CLAUDIA__220.aux
/escuelal_correcion/pdf/assistant__HIDALGO_ITO_CLAUDIA__220.log
/escuelal_correcion/pdf/assistant__HIDALGO_ITO_CLAUDIA__220.pdf
/escuelal_correcion/pdf/assistant__HUACCHA_MIRANDA_EDSON_BRUCE__257.aux
/escuelal_correcion/pdf/assistant__HUACCHA_MIRANDA_EDSON_BRUCE__257.log
/escuelal_correcion/pdf/assistant__HUACCHA_MIRANDA_EDSON_BRUCE__257.pdf
/escuelal_correcion/pdf/assistant__HUACCHA_MIRANDA_ESTHEFANY_GIANELLA__258.aux
/escuelal_correcion/pdf/assistant__HUACCHA_MIRANDA_ESTHEFANY_GIANELLA__258.log
/escuelal_correcion/pdf/assistant__HUACCHA_MIRANDA_ESTHEFANY_GIANELLA__258.pdf
/escuelal_correcion/pdf/assistant__HUAMAN_CCAYOSI_SHIRLEY__259.aux
/escuelal_correcion/pdf/assistant__HUAMAN_CCAYOSI_SHIRLEY__259.log
/escuelal_correcion/pdf/assistant__HUAMAN_CCAYOSI_SHIRLEY__259.pdf
/escuelal_correcion/pdf/assistant__JUAREZ_GALLEGOS_GIAN_PIERRE__235.aux
/escuelal_correcion/pdf/assistant__JUAREZ_GALLEGOS_GIAN_PIERRE__235.log
/escuelal_correcion/pdf/assistant__JUAREZ_GALLEGOS_GIAN_PIERRE__235.pdf
/escuelal_correcion/pdf/assistant__JUAREZ_HUAMANGIL_ANTONIO__221.aux
/escuelal_correcion/pdf/assistant__JUAREZ_HUAMANGIL_ANTONIO__221.log
/escuelal_correcion/pdf/assistant__JUAREZ_HUAMANGIL_ANTONIO__221.pdf
/escuelal_correcion/pdf/assistant__LOPEZ_CONDORI_ANDREA_DEL_ROSARIO__260.aux
/escuelal_correcion/pdf/assistant__LOPEZ_CONDORI_ANDREA_DEL_ROSARIO__260.log
/escuelal_correcion/pdf/assistant__LOPEZ_CONDORI_ANDREA_DEL_ROSARIO__260.pdf
/escuelal_correcion/pdf/assistant__MAMANI_QUISPE_LIZBETH_ESMERALDA__236.aux
/escuelal_correcion/pdf/assistant__MAMANI_QUISPE_LIZBETH_ESMERALDA__236.log
/escuelal_correcion/pdf/assistant__MAMANI_QUISPE_LIZBETH_ESMERALDA__236.pdf
/escuelal_correcion/pdf/assistant__MAZZA_CORDOVA_KAEL_ALEXANDER__261.aux
/escuelal_correcion/pdf/assistant__MAZZA_CORDOVA_KAEL_ALEXANDER__261.log
/escuelal_correcion/pdf/assistant__MAZZA_CORDOVA_KAEL_ALEXANDER__261.pdf
/escuelal_correcion/pdf/assistant__MEDINA_PONCE_LUIS_FERNANDO__219.aux
/escuelal_correcion/pdf/assistant__MEDINA_PONCE_LUIS_FERNANDO__219.log
/escuelal_correcion/pdf/assistant__MEDINA_PONCE_LUIS_FERNANDO__219.pdf
/escuelal_correcion/pdf/assistant__MEDINA_RIVERA_MARJORIE_SOFIA__237.aux
/escuelal_correcion/pdf/assistant__MEDINA_RIVERA_MARJORIE_SOFIA__237.log
/escuelal_correcion/pdf/assistant__MEDINA_RIVERA_MARJORIE_SOFIA__237.pdf
/escuelal_correcion/pdf/assistant__MIER_ARIZA_MIGUEL_ANTONIO__262.aux
/escuelal_correcion/pdf/assistant__MIER_ARIZA_MIGUEL_ANTONIO__262.log
/escuelal_correcion/pdf/assistant__MIER_ARIZA_MIGUEL_ANTONIO__262.pdf
/escuelal_correcion/pdf/assistant__MONMONTOY_RUELAS_RODRIGO__238.aux
/escuelal_correcion/pdf/assistant__MONMONTOY_RUELAS_RODRIGO__238.log
/escuelal_correcion/pdf/assistant__MONMONTOY_RUELAS_RODRIGO__238.pdf
/escuelal_correcion/pdf/assistant__MORALES_CAMACHO_LUCIA_ALEJANDRA__263.aux
/escuelal_correcion/pdf/assistant__MORALES_CAMACHO_LUCIA_ALEJANDRA__263.log
/escuelal_correcion/pdf/assistant__MORALES_CAMACHO_LUCIA_ALEJANDRA__263.pdf
/escuelal_correcion/pdf/assistant__PAJA_MEDINA_AREMI_ISABEL__239.aux
/escuelal_correcion/pdf/assistant__PAJA_MEDINA_AREMI_ISABEL__239.log
/escuelal_correcion/pdf/assistant__PAJA_MEDINA_AREMI_ISABEL__239.pdf
/escuelal_correcion/pdf/assistant__PENARANDA_PERALTA_ANA_YSABEL__264.aux
/escuelal_correcion/pdf/assistant__PENARANDA_PERALTA_ANA_YSABEL__264.log
/escuelal_correcion/pdf/assistant__PENARANDA_PERALTA_ANA_YSABEL__264.pdf
/escuelal_correcion/pdf/assistant__RAMIREZ_QUIROZ_LEONARDO_ALONSO__265.aux
/escuelal_correcion/pdf/assistant__RAMIREZ_QUIROZ_LEONARDO_ALONSO__265.log
/escuelal_correcion/pdf/assistant__RAMIREZ_QUIROZ_LEONARDO_ALONSO__265.pdf
/escuelal_correcion/pdf/assistant__RAMIREZ_QUIROZ_RAFAEL_ALEJANDRO__266.aux
/escuelal_correcion/pdf/assistant__RAMIREZ_QUIROZ_RAFAEL_ALEJANDRO__266.log
/escuelal_correcion/pdf/assistant__RAMIREZ_QUIROZ_RAFAEL_ALEJANDRO__266.pdf
/escuelal_correcion/pdf/assistant__RAMOS_VILLENA_SERGIO_LEANDRO__267.aux
/escuelal_correcion/pdf/assistant__RAMOS_VILLENA_SERGIO_LEANDRO__267.log
/escuelal_correcion/pdf/assistant__RAMOS_VILLENA_SERGIO_LEANDRO__267.pdf
/escuelal_correcion/pdf/assistant__RIGUETTI_PALOMINO_FABRIZIO_SEBASTIAN__268.aux
/escuelal_correcion/pdf/assistant__RIGUETTI_PALOMINO_FABRIZIO_SEBASTIAN__268.log
/escuelal_correcion/pdf/assistant__RIGUETTI_PALOMINO_FABRIZIO_SEBASTIAN__268.pdf
/escuelal_correcion/pdf/assistant__RODRGUEZ_MANRIQUE_SOFIA_IVANA__269.aux
/escuelal_correcion/pdf/assistant__RODRGUEZ_MANRIQUE_SOFIA_IVANA__269.log
/escuelal_correcion/pdf/assistant__RODRGUEZ_MANRIQUE_SOFIA_IVANA__269.pdf
/escuelal_correcion/pdf/assistant__ROQUE_CABANA_BRAYAN_SIMON__222.aux
/escuelal_correcion/pdf/assistant__ROQUE_CABANA_BRAYAN_SIMON__222.log
/escuelal_correcion/pdf/assistant__ROQUE_CABANA_BRAYAN_SIMON__222.pdf
/escuelal_correcion/pdf/assistant__SAHUANAY_TAIPE_CARLOS_ANDRES_JUNIOR__240.aux
/escuelal_correcion/pdf/assistant__SAHUANAY_TAIPE_CARLOS_ANDRES_JUNIOR__240.log
/escuelal_correcion/pdf/assistant__SAHUANAY_TAIPE_CARLOS_ANDRES_JUNIOR__240.pdf
/escuelal_correcion/pdf/assistant__SAICO_QQUELLHUA_LUIS_VICTOR__241.aux
/escuelal_correcion/pdf/assistant__SAICO_QQUELLHUA_LUIS_VICTOR__241.log
/escuelal_correcion/pdf/assistant__SAICO_QQUELLHUA_LUIS_VICTOR__241.pdf
/escuelal_correcion/pdf/assistant__SANTILLANA_QUISPE_RODRIGO_JUNIOR__270.aux
/escuelal_correcion/pdf/assistant__SANTILLANA_QUISPE_RODRIGO_JUNIOR__270.log
/escuelal_correcion/pdf/assistant__SANTILLANA_QUISPE_RODRIGO_JUNIOR__270.pdf
/escuelal_correcion/pdf/assistant__SANTIVANEZ_MAYORIA_OSCAR_MANUEL_GUSTAVO__271.aux
/escuelal_correcion/pdf/assistant__SANTIVANEZ_MAYORIA_OSCAR_MANUEL_GUSTAVO__271.log
/escuelal_correcion/pdf/assistant__SANTIVANEZ_MAYORIA_OSCAR_MANUEL_GUSTAVO__271.pdf
/escuelal_correcion/pdf/assistant__SOSA_SALAS_BRUNO_RAMIRO__272.aux
/escuelal_correcion/pdf/assistant__SOSA_SALAS_BRUNO_RAMIRO__272.log
/escuelal_correcion/pdf/assistant__SOSA_SALAS_BRUNO_RAMIRO__272.pdf
/escuelal_correcion/pdf/assistant__SOSA_SALAS_VALENTINO__273.aux
/escuelal_correcion/pdf/assistant__SOSA_SALAS_VALENTINO__273.log
/escuelal_correcion/pdf/assistant__SOSA_SALAS_VALENTINO__273.pdf
/escuelal_correcion/pdf/assistant__SUCAPUCA_QUISPE_ROBERTO_CARLOS__274.aux
/escuelal_correcion/pdf/assistant__SUCAPUCA_QUISPE_ROBERTO_CARLOS__274.log
/escuelal_correcion/pdf/assistant__SUCAPUCA_QUISPE_ROBERTO_CARLOS__274.pdf
/escuelal_correcion/pdf/assistant__TEJADA_CRUZ_JUAN_VICTOR__242.aux
/escuelal_correcion/pdf/assistant__TEJADA_CRUZ_JUAN_VICTOR__242.log
/escuelal_correcion/pdf/assistant__TEJADA_CRUZ_JUAN_VICTOR__242.pdf
/escuelal_correcion/pdf/assistant__URQUIZO_ARRIAGA_ALEXIS_JESUS__243.aux
/escuelal_correcion/pdf/assistant__URQUIZO_ARRIAGA_ALEXIS_JESUS__243.log
/escuelal_correcion/pdf/assistant__URQUIZO_ARRIAGA_ALEXIS_JESUS__243.pdf
/escuelal_correcion/pdf/assistant__VALDIVIA_BEGAZO_SHARON_DANIELA__244.aux
/escuelal_correcion/pdf/assistant__VALDIVIA_BEGAZO_SHARON_DANIELA__244.log
/escuelal_correcion/pdf/assistant__VALDIVIA_BEGAZO_SHARON_DANIELA__244.pdf
/escuelal_correcion/pdf/assistant__VELARDE_ZEGARRA_JOAQUIN__223.aux
/escuelal_correcion/pdf/assistant__VELARDE_ZEGARRA_JOAQUIN__223.log
/escuelal_correcion/pdf/assistant__VELARDE_ZEGARRA_JOAQUIN__223.pdf
/escuelal_correcion/pdf/assistant__VILCA_DIAZ_KAROL_LIVIA__245.aux
/escuelal_correcion/pdf/assistant__VILCA_DIAZ_KAROL_LIVIA__245.log
/escuelal_correcion/pdf/assistant__VILCA_DIAZ_KAROL_LIVIA__245.pdf
/escuelal_correcion/pdf/assistant__ZANABRIA_QUIZA_AINET_MARISOL__246.aux
/escuelal_correcion/pdf/assistant__ZANABRIA_QUIZA_AINET_MARISOL__246.log
/escuelal_correcion/pdf/assistant__ZANABRIA_QUIZA_AINET_MARISOL__246.pdf
/escuelal_correcion/pdf/list.html
/escuelal_correcion/qrimages/image219.png
/escuelal_correcion/qrimages/image220.png
/escuelal_correcion/qrimages/image221.png
/escuelal_correcion/qrimages/image222.png
/escuelal_correcion/qrimages/image223.png
/escuelal_correcion/qrimages/image224.png
/escuelal_correcion/qrimages/image225.png
/escuelal_correcion/qrimages/image226.png
/escuelal_correcion/qrimages/image227.png
/escuelal_correcion/qrimages/image228.png
/escuelal_correcion/qrimages/image229.png
/escuelal_correcion/qrimages/image230.png
/escuelal_correcion/qrimages/image231.png
/escuelal_correcion/qrimages/image232.png
/escuelal_correcion/qrimages/image233.png
/escuelal_correcion/qrimages/image234.png
/escuelal_correcion/qrimages/image235.png
/escuelal_correcion/qrimages/image236.png
/escuelal_correcion/qrimages/image237.png
/escuelal_correcion/qrimages/image238.png
/escuelal_correcion/qrimages/image239.png
/escuelal_correcion/qrimages/image240.png
/escuelal_correcion/qrimages/image241.png
/escuelal_correcion/qrimages/image242.png
/escuelal_correcion/qrimages/image243.png
/escuelal_correcion/qrimages/image244.png
/escuelal_correcion/qrimages/image245.png
/escuelal_correcion/qrimages/image246.png
/escuelal_correcion/qrimages/image247.png
/escuelal_correcion/qrimages/image248.png
/escuelal_correcion/qrimages/image249.png
/escuelal_correcion/qrimages/image250.png
/escuelal_correcion/qrimages/image251.png
/escuelal_correcion/qrimages/image252.png
/escuelal_correcion/qrimages/image253.png
/escuelal_correcion/qrimages/image254.png
/escuelal_correcion/qrimages/image255.png
/escuelal_correcion/qrimages/image256.png
/escuelal_correcion/qrimages/image257.png
/escuelal_correcion/qrimages/image258.png
/escuelal_correcion/qrimages/image259.png
/escuelal_correcion/qrimages/image260.png
/escuelal_correcion/qrimages/image261.png
/escuelal_correcion/qrimages/image262.png
/escuelal_correcion/qrimages/image263.png
/escuelal_correcion/qrimages/image264.png
/escuelal_correcion/qrimages/image265.png
/escuelal_correcion/qrimages/image266.png
/escuelal_correcion/qrimages/image267.png
/escuelal_correcion/qrimages/image268.png
/escuelal_correcion/qrimages/image269.png
/escuelal_correcion/qrimages/image270.png
/escuelal_correcion/qrimages/image271.png
/escuelal_correcion/qrimages/image272.png
/escuelal_correcion/qrimages/image273.png
/escuelal_correcion/qrimages/image274.png
/escuelal_correcion/texfiles/assistant__AMAYA_GAMARRA_ALEJANDRO__219.tex
/escuelal_correcion/texfiles/assistant__ARROYO_GAMARRA_ALEJANDRO_DIEGO__247.tex
/escuelal_correcion/texfiles/assistant__BEDOYA_FLOREZ_KIARA_SASHA__219.tex
/escuelal_correcion/texfiles/assistant__CABALLERO_CCAYUSI_KATTY_KAROL__248.tex
/escuelal_correcion/texfiles/assistant__CACERES_CACERES_ANJALI_KYLIOE__249.tex
/escuelal_correcion/texfiles/assistant__CALSINA_RAMOS_BRISSA_JANELHI__220.tex
/escuelal_correcion/texfiles/assistant__CAMACHO_RAMOS_NAYELY_ANHELYZ_NAOMY__250.tex
/escuelal_correcion/texfiles/assistant__CAMACHO_TORRES_PAOLA_CAMILA__221.tex
/escuelal_correcion/texfiles/assistant__CAMACHO_ZUNIGA_FABIANA_ALESSANSRA__222.tex
/escuelal_correcion/texfiles/assistant__CASTILLO_AROCUTIPA_NAOMI_DAYANA__223.tex
/escuelal_correcion/texfiles/assistant__CAYRO_CUADROS_ROBERTO_JUAN__251.tex
/escuelal_correcion/texfiles/assistant__CERPO_RODRIGUEZ_AMMY_LUCIA__252.tex
/escuelal_correcion/texfiles/assistant__CHOQUE_TALAVERA_GUADALUPE_SILVANA__255.tex
/escuelal_correcion/texfiles/assistant__CHOQUE_TALAVERA_RODRIGO_ARNALDO__224.tex
/escuelal_correcion/texfiles/assistant__CHUA_AGUILAR_JEAN_CARLO__225.tex
/escuelal_correcion/texfiles/assistant__CONCHA_LAYME_ANGEL_TOMAS__226.tex
/escuelal_correcion/texfiles/assistant__CONCHA_LAYME_ESTEFANI_MERCEDES__227.tex
/escuelal_correcion/texfiles/assistant__CONDORI_CASQUINO_EBERT_LUIS__253.tex
/escuelal_correcion/texfiles/assistant__CONDORI_QUISPE_JUAN_JOSE__228.tex
/escuelal_correcion/texfiles/assistant__DELGADO_GAMARRA_GABRIEL__254.tex
/escuelal_correcion/texfiles/assistant__ESPINOZA_CACERES_ALESSANDRO_JESUS__229.tex
/escuelal_correcion/texfiles/assistant__ESPINOZA_CACERES_GERSON_NIALS__230.tex
/escuelal_correcion/texfiles/assistant__ESPINOZA_CACERES_GILBERT_JESUS__231.tex
/escuelal_correcion/texfiles/assistant__ESPINOZA_CACERES_STEVEN_JESUS__232.tex
/escuelal_correcion/texfiles/assistant__ESTREMODOYRO_SALAS_JODE_JANDEL__233.tex
/escuelal_correcion/texfiles/assistant__GAMERO_DEL_CARPIO_JOAQUIN_IGNACIO__234.tex
/escuelal_correcion/texfiles/assistant__GUTIERREZ_QUISPE_JOSE_MARIA__256.tex
/escuelal_correcion/texfiles/assistant__HIDALGO_ITO_CLAUDIA__220.tex
/escuelal_correcion/texfiles/assistant__HUACCHA_MIRANDA_EDSON_BRUCE__257.tex
/escuelal_correcion/texfiles/assistant__HUACCHA_MIRANDA_ESTHEFANY_GIANELLA__258.tex
/escuelal_correcion/texfiles/assistant__HUAMAN_CCAYOSI_SHIRLEY__259.tex
/escuelal_correcion/texfiles/assistant__JUAREZ_GALLEGOS_GIAN_PIERRE__235.tex
/escuelal_correcion/texfiles/assistant__JUAREZ_HUAMANGIL_ANTONIO__221.tex
/escuelal_correcion/texfiles/assistant__LOPEZ_CONDORI_ANDREA_DEL_ROSARIO__260.tex
/escuelal_correcion/texfiles/assistant__MAMANI_QUISPE_LIZBETH_ESMERALDA__236.tex
/escuelal_correcion/texfiles/assistant__MAZZA_CORDOVA_KAEL_ALEXANDER__261.tex
/escuelal_correcion/texfiles/assistant__MEDINA_PONCE_LUIS_FERNANDO__219.tex
/escuelal_correcion/texfiles/assistant__MEDINA_RIVERA_MARJORIE_SOFIA__237.tex
/escuelal_correcion/texfiles/assistant__MIER_ARIZA_MIGUEL_ANTONIO__262.tex
/escuelal_correcion/texfiles/assistant__MONMONTOY_RUELAS_RODRIGO__238.tex
/escuelal_correcion/texfiles/assistant__MORALES_CAMACHO_LUCIA_ALEJANDRA__263.tex
/escuelal_correcion/texfiles/assistant__PAJA_MEDINA_AREMI_ISABEL__239.tex
/escuelal_correcion/texfiles/assistant__PENARANDA_PERALTA_ANA_YSABEL__264.tex
/escuelal_correcion/texfiles/assistant__RAMIREZ_QUIROZ_LEONARDO_ALONSO__265.tex
/escuelal_correcion/texfiles/assistant__RAMIREZ_QUIROZ_RAFAEL_ALEJANDRO__266.tex
/escuelal_correcion/texfiles/assistant__RAMOS_VILLENA_SERGIO_LEANDRO__267.tex
/escuelal_correcion/texfiles/assistant__RIGUETTI_PALOMINO_FABRIZIO_SEBASTIAN__268.tex
/escuelal_correcion/texfiles/assistant__RODRGUEZ_MANRIQUE_SOFIA_IVANA__269.tex
/escuelal_correcion/texfiles/assistant__ROQUE_CABANA_BRAYAN_SIMON__222.tex
/escuelal_correcion/texfiles/assistant__SAHUANAY_TAIPE_CARLOS_ANDRES_JUNIOR__240.tex
/escuelal_correcion/texfiles/assistant__SAICO_QQUELLHUA_LUIS_VICTOR__241.tex
/escuelal_correcion/texfiles/assistant__SANTILLANA_QUISPE_RODRIGO_JUNIOR__270.tex
/escuelal_correcion/texfiles/assistant__SANTIVANEZ_MAYORIA_OSCAR_MANUEL_GUSTAVO__271.tex
/escuelal_correcion/texfiles/assistant__SOSA_SALAS_BRUNO_RAMIRO__272.tex
/escuelal_correcion/texfiles/assistant__SOSA_SALAS_VALENTINO__273.tex
/escuelal_correcion/texfiles/assistant__SUCAPUCA_QUISPE_ROBERTO_CARLOS__274.tex
/escuelal_correcion/texfiles/assistant__TEJADA_CRUZ_JUAN_VICTOR__242.tex
/escuelal_correcion/texfiles/assistant__URQUIZO_ARRIAGA_ALEXIS_JESUS__243.tex
/escuelal_correcion/texfiles/assistant__VALDIVIA_BEGAZO_SHARON_DANIELA__244.tex
/escuelal_correcion/texfiles/assistant__VELARDE_ZEGARRA_JOAQUIN__223.tex
/escuelal_correcion/texfiles/assistant__VILCA_DIAZ_KAROL_LIVIA__245.tex
/escuelal_correcion/texfiles/assistant__ZANABRIA_QUIZA_AINET_MARISOL__246.tex
/escuelal2/assistant.json
/escuelal2/list.txt
/escuelal2/pdf/assistant__AMAYA_GAMARRA_ALEJANDRO__214.aux
/escuelal2/pdf/assistant__AMAYA_GAMARRA_ALEJANDRO__214.log
/escuelal2/pdf/assistant__AMAYA_GAMARRA_ALEJANDRO__214.pdf
/escuelal2/pdf/assistant__HIDALGO_ITO_CLAUDIA__215.aux
/escuelal2/pdf/assistant__HIDALGO_ITO_CLAUDIA__215.log
/escuelal2/pdf/assistant__HIDALGO_ITO_CLAUDIA__215.pdf
/escuelal2/pdf/assistant__JUAREZ_HUAMANGIL_ANTONIO__216.aux
/escuelal2/pdf/assistant__JUAREZ_HUAMANGIL_ANTONIO__216.log
/escuelal2/pdf/assistant__JUAREZ_HUAMANGIL_ANTONIO__216.pdf
/escuelal2/pdf/assistant__ROQUE_CABANA_BRAYAN_GERMAN__217.aux
/escuelal2/pdf/assistant__ROQUE_CABANA_BRAYAN_GERMAN__217.log
/escuelal2/pdf/assistant__ROQUE_CABANA_BRAYAN_GERMAN__217.pdf
/escuelal2/pdf/assistant__VELARDE_ZEGARRA_JOAQUIN__218.aux
/escuelal2/pdf/assistant__VELARDE_ZEGARRA_JOAQUIN__218.log
/escuelal2/pdf/assistant__VELARDE_ZEGARRA_JOAQUIN__218.pdf
/escuelal2/pdf/list.html
/escuelal2/qrimages/image214.png
/escuelal2/qrimages/image215.png
/escuelal2/qrimages/image216.png
/escuelal2/qrimages/image217.png
/escuelal2/qrimages/image218.png
/escuelal2/texfiles/assistant__AMAYA_GAMARRA_ALEJANDRO__214.tex
/escuelal2/texfiles/assistant__HIDALGO_ITO_CLAUDIA__215.tex
/escuelal2/texfiles/assistant__JUAREZ_HUAMANGIL_ANTONIO__216.tex
/escuelal2/texfiles/assistant__ROQUE_CABANA_BRAYAN_GERMAN__217.tex
/escuelal2/texfiles/assistant__VELARDE_ZEGARRA_JOAQUIN__218.tex
/escuelal2_2/assistant.json
/escuelal2_2/list.txt
/escuelal2_2/pdf/assistant__AMAYA_GAMARRA_ALEJANDRO__214.aux
/escuelal2_2/pdf/assistant__AMAYA_GAMARRA_ALEJANDRO__214.log
/escuelal2_2/pdf/assistant__AMAYA_GAMARRA_ALEJANDRO__214.pdf
/escuelal2_2/pdf/assistant__HIDALGO_ITO_CLAUDIA__215.aux
/escuelal2_2/pdf/assistant__HIDALGO_ITO_CLAUDIA__215.log
/escuelal2_2/pdf/assistant__HIDALGO_ITO_CLAUDIA__215.pdf
/escuelal2_2/pdf/assistant__JUAREZ_HUAMANGIL_ANTONIO__216.aux
/escuelal2_2/pdf/assistant__JUAREZ_HUAMANGIL_ANTONIO__216.log
/escuelal2_2/pdf/assistant__JUAREZ_HUAMANGIL_ANTONIO__216.pdf
/escuelal2_2/pdf/assistant__ROQUE_CABANA_BRAYAN_GERMAN__217.aux
/escuelal2_2/pdf/assistant__ROQUE_CABANA_BRAYAN_GERMAN__217.log
/escuelal2_2/pdf/assistant__ROQUE_CABANA_BRAYAN_GERMAN__217.pdf
/escuelal2_2/pdf/assistant__VELARDE_ZEGARRA_JOAQUIN__218.aux
/escuelal2_2/pdf/assistant__VELARDE_ZEGARRA_JOAQUIN__218.log
/escuelal2_2/pdf/assistant__VELARDE_ZEGARRA_JOAQUIN__218.pdf
/escuelal2_2/pdf/list.html
/escuelal2_2/qrimages/image214.png
/escuelal2_2/qrimages/image215.png
/escuelal2_2/qrimages/image216.png
/escuelal2_2/qrimages/image217.png
/escuelal2_2/qrimages/image218.png
/escuelal2_2/texfiles/assistant__AMAYA_GAMARRA_ALEJANDRO__214.tex
/escuelal2_2/texfiles/assistant__HIDALGO_ITO_CLAUDIA__215.tex
/escuelal2_2/texfiles/assistant__JUAREZ_HUAMANGIL_ANTONIO__216.tex
/escuelal2_2/texfiles/assistant__ROQUE_CABANA_BRAYAN_GERMAN__217.tex
/escuelal2_2/texfiles/assistant__VELARDE_ZEGARRA_JOAQUIN__218.tex
/escuelal3/assistant.json
/escuelal3/list.txt
/escuelal3/pdf/assistant__MEDENA_PONCE_LUIS_FERNANDO__219.aux
/escuelal3/pdf/assistant__MEDENA_PONCE_LUIS_FERNANDO__219.log
/escuelal3/pdf/assistant__MEDENA_PONCE_LUIS_FERNANDO__219.pdf
/escuelal3/pdf/list.html
/escuelal3/qrimages/image219.png
/escuelal3/texfiles/assistant__MEDENA_PONCE_LUIS_FERNANDO__219.tex
/escuelal3_2/assistant.json
/escuelal3_2/list.txt
/escuelal3_2/pdf/assistant__MEDENA_PONCE_LUIS_FERNANDO__219.aux
/escuelal3_2/pdf/assistant__MEDENA_PONCE_LUIS_FERNANDO__219.log
/escuelal3_2/pdf/assistant__MEDENA_PONCE_LUIS_FERNANDO__219.pdf
/escuelal3_2/pdf/list.html
/escuelal3_2/qrimages/image219.png
/escuelal3_2/texfiles/assistant__MEDENA_PONCE_LUIS_FERNANDO__219.tex
